.box{
	background-color: yellow;
	position: relative;
	width: 100px;
	height: 50px;
	animation-name: slide;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	border:1px solid black;
	border-radius: 50px;

}

.box2{
	position: relative;
	background-color: blue;
	width: 100px;
	height: 50px;
	animation-name: slidde;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	border:1px solid black;
	border-radius: 50px;
}


@keyframes slide{
   0%{
   	left:0px; top:0px;
     transform: rotate(0);
   }
   35%{ left:1200px; top:600px;
     transform: rotate(90deg);}
   50%{
   	 left:1200px; top:250px; 
     transform: rotate(180deg);
   }
   75%{
   	left:600px; top:250px;
     transform: rotate(0);
   }
   100%{
   	left:0px; top:0px;
     transform: rotate(0);
   }
 }

 @keyframes slidde{
   0%{
   	left:0px; top:600px;
     transform: rotate(0);
   }
   35%{
   	left:1200px; top:0px;
     transform: rotate(90deg);
   }
   50%{
   	left:1200px; top:250px;
     transform: rotate(180deg);
   }
   75%{
   	left:600px; top:250px;
     transform: rotate(0);
   }
   100%{
     left:0px; top:600px;
     transform: rotate(0);
   }
 }